.sp {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  &__pkg-details {
    display: flex;
    flex-direction: column;

    h1 > span {
      background: -webkit-linear-gradient(120deg, #bd34fe 30%, #41d1ff);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }

    &.version {
      align-self: flex-end;
      font-size: 0.7rem;
      margin-top: -5px;
    }
  }
}
